<li class="clearfix">
	<a rel="nofollow" href="./index.html" class="active">
		<p class="fs16 lh36">网站首页</p>
		<p class="line tstion03"></p>
	</a>
</li>
<li class="clearfix">
	<a rel="nofollow" href="./aboutus.html">
		<p class="fs16 lh36">关于我们</p>
		<p class="line tstion03"></p>
	</a>
</li>
<li class="clearfix">
	<a rel="nofollow" href="./food.html">
		<p class="fs16 lh36">品牌集合
			<p>
				<p class="line tstion03"></p>
	</a>
</li>
<li class="clearfix">
	<a rel="nofollow" href="./news.html">
		<p class="fs16 lh36">新闻中心
			<p>
				<p class="line tstion03"></p>
	</a>
</li>
<li class="clearfix">
	<a rel="nofollow" href="./trademark.html">
		<p class="fs16 lh36">商标知识
			<p>
				<p class="line tstion03"></p>
	</a>
</li>
<li class="clearfix">
	<a rel="nofollow" href="./contact.html">
		<p class="fs16 lh36">联系我们
			<p>
				<p class="line tstion03"></p>
	</a>
</li>